<li>
	<%= content_tag( 'h3', link_to( publication_document_file.name, publication_document_file.link( publication ) ) ) %>
	<%= content_tag( 'p', "File size: #{publication_document_file.size}" ) %>
</li>