<li>
	<%= content_tag( 'h3', link_to( oral_evidence_transcript_file.format_display, oral_evidence_transcript_file.link ) ) %>
	<%= content_tag( 'p', "File size: #{oral_evidence_transcript_file.size}" ) %>
</li>