<p>
	<%= link_to( "Upcoming event segments (#{@upcoming_event_segments.size})", event_segment_upcoming_url ) %>
	&middot;
	<%= link_to( "All event segments (#{@all_event_segments.size})", event_segment_list_url ) %>
</p>