<p>
	<%= link_to( "Upcoming event segments (#{@upcoming_event_segments.size})", activity_type_upcoming_url ) %>
	&middot;
	<%= link_to( "All event segments (#{@all_event_segments.size})", activity_type_show_url ) %>
</p>