<nav>
	<%= link_to( "All people", person_list_url ) %>
	-
	<%= link_to( "Members", person_member_list_url ) %>
	-
	<%= link_to( "Non-members", person_non_member_list_url ) %>
	-
	<%= link_to( "Committee members", person_committee_member_list_url ) %>
</nav>