<nav>
<p>
	Work packages
	-
	<%= link_to( "current (#{@current_work_packages.size})", work_package_current_url ) %>
	-
	<%= link_to( "all (#{@all_work_packages.size})", work_package_list_url ) %>
</p>
</nav>