<p>
	<%= link_to( "Upcoming oral evidence transcripts (#{@upcoming_oral_evidence_transcripts.size})", oral_evidence_transcript_upcoming_url ) %>
	&middot;
	<%= link_to( "All oral evidence transcripts (#{@all_oral_evidence_transcripts.size})", oral_evidence_transcript_list_url ) %>
</p>