<p>
	<%= link_to( "Current work packages (#{@current_work_packages.size})", work_package_type_current_url ) %>
	&middot;
	<%= link_to( "All work packages (#{@all_work_packages.size})", work_package_type_show_url ) %>
</p>