<p>
	<%= link_to( "Current work packages (#{@work_package_type.current_work_packages.size})", work_package_type_current_url ) %>
	&middot;
	<%= link_to( "All work packages (#{@work_package_type.work_packages.size})", work_package_type_show_url ) %>
</p>