<div id="oral-evidence-transcripts">
	<%= content_tag( 'h2', 'Oral evidence transcripts' ) %>
	<ul>
		<%= render :partial => 'witness/witness_from_position', :collection => @position.witnesses %>
	</ul>
</div>