<p>
	<%= link_to( "Details", committee_show_url ) %>
	<% if committee_nav.contactable? -%>
		&middot;
		<%= link_to( "Contact", committee_contact_url ) %>
	<% end -%>
	<% unless committee_nav.work_packages.empty? -%>
		&middot;
		<%= link_to( "Work packages", committee_work_package_list_url ) %>
	<% end -%>
</p>