<p>
	<%= link_to( "Current members (#{@current_memberships.size})", committee_current_memberships_url ) %>
	&middot;
	<%= link_to( "All members (#{@all_memberships.size})", committee_memberships_url ) %>
</p>