<p>
	<%= link_to( "Current work packages (#{@current_work_packages.size})", committee_work_package_current_url ) %>
	&middot;
	<%= link_to( "All work packages (#{@all_work_packages.size})", committee_work_package_list_url ) %>
</p>