<li>
	<%= content_tag( 'p', link_to( committee.name, committee_show_url( :committee => committee.system_id ) ) ) %>
	
	<%= content_tag( 'p', link_to( "#{committee.sub_committee_count} sub-#{'committee'.pluralize( committee.sub_committee_count )}", committee_show_url( :committee => committee.system_id, :anchor => 'sub-committees' ) ), :class => 'sub-committee-number' ) if committee.sub_committee_count %>
	
</li>