<p>
	<%= link_to( "Upcoming oral evidence sessions (#{@upcoming_oral_evidence_sessions.size})", oral_evidence_session_upcoming_url ) %>
	&middot;
	<%= link_to( "All oral evidence sessions (#{@all_oral_evidence_sessions.size})", oral_evidence_session_list_url ) %>
</p>