 <li>
 	<%= content_tag( 'h3', "#{link_to( membership_from_role.person_name, person_show_url( :person => membership_from_role.person_id))} - #{link_to( membership_from_role.committee_name, committee_show_url( :committee => membership_from_role.committee_system_id ) )}".html_safe ) %>
 	<%= content_tag( 'p', membership_from_role.lifespan ) %>
 	<%= content_tag( 'p', link_to( 'Membership details', membership_show_url( :membership => membership_from_role ) ) ) %>
 </li>