<li>
	<%= content_tag( 'h3', "#{link_to( membership.person_name, person_show_url( :person => membership.person_id))} - #{link_to( membership.committee_name, committee_show_url( :committee => membership.committee_system_id ) )}".html_safe ) %>
	<%= content_tag( 'p', membership.lifespan ) %>
	<%= content_tag( 'p', membership.role_name ) %>
	<%= content_tag( 'p', link_to( 'Membership details', membership_show_url( :membership => membership ) ) ) %>
</li>